/*
    Auteur: Mahmoud Ibrahim 
    Datum: 20-12-2023
    Last update: 25-03-2026
    Project CV
*/

#ervaringen {
    color: var(--primary);
}

.schoolwerkfoto {
    width: 100%;
    border-radius: 12px;
    margin: 1rem 0;
}

a.linkwoorden {
    color: var(--primary);
    text-decoration: none;
}

a.linkwoorden:hover {
    text-decoration: underline;
}
