/*
    Auteur: Mahmoud Ibrahim 
    Datum: 20-12-2023
    Last update: 25-03-2026
    Project CV
*/

#hobby {
    color: var(--primary);
}

.foto5 {
    width: 100%;
    border-radius: 12px;
}

section img {
    width: 100%;
    border-radius: 12px;
    margin-top: 1rem;
}
