/*
    Auteur: Mahmoud Ibrahim 
    Datum: 20-12-2023
    Last update: 25-03-2026
    Project CV
*/

#home {
    color: var(--primary);
}

.foto1 {
    width: 100%;
    border-radius: 12px;
}

.tekstNav {
    color: var(--primary);
    text-decoration: underline;
}
