/*
    Auteur: Mahmoud Ibrahim 
    Datum: 20-12-2023
    Last update: 25-03-2026
    Project CV
*/

#portfolio {
    color: var(--primary);
}

.fotosport {
    width: 100%;
    border-radius: 12px;
    margin-top: 1rem;
}

.portdiv {
    margin-bottom: 2rem;
}
