/*
    Auteur: Mahmoud Ibrahim 
    Datum: 20-12-2023
    Project CV
*/

#resultaten
{
    border: 1px solid #d98f285e;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #D99028;
    background-color: #d98f284a;
}
article
{
    text-align: left;
    overflow: auto;
}

table
{
    text-align: center;
}

.foto4
{
    border-radius: 20px;
}


table,tr,th,td
{
    border: white solid 1px;
    font-size: 1.3vw;
}

#bereken
{
    font-size: 1.5vw;
    list-style-type: none;
    text-decoration: none;
    color: #D99028;   
    padding: 10px;
}

#bereken:hover
{
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px #D99028;
    background-color: #d98f284a;
    padding: 10px;
}

table
{
    margin-left: 5vw;
    margin-top: 8vh;
}

#table1
{
    margin-bottom: 20vh;
}


@media screen and (orientation: portrait)
{

    article
    {
        overflow: auto;
    }

    div 
    {
        padding-top: 5px;
    }

    #bereken
    {
        font-size: 1.4vh;
    }

    th,td
    {
        font-size: 1.4vh;
    }

    #table1
    {
        margin-bottom: 5vh;
        margin-left: 0.1vh;
        margin-top: 0.1vw;
    }
}