/*
    Auteur: Mahmoud Ibrahim 
    Datum: 20-12-2023
    Last update: 25-03-2026
    Project CV
*/

#resultaten {
    color: var(--primary);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th, td {
    border: 1px solid #333;
    padding: 0.7rem;
    text-align: center;
}

th {
    background: var(--secondary);
}

tr:nth-child(even) {
    background: #1a1d24;
}

/* knop */
#bereken {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    background: var(--primary);
    color: black;
    border-radius: 8px;
    text-decoration: none;
}

#bereken:hover {
    background: #b89655;
}
